.Loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Loading h2 {
    font-size: 50px;
    font-weight: 400;
    color: #c9daf8ce;
}


.loading-container {
    width: 400px;
    height: 50px;
}

.loading-bar {
    width: 100px;
    height: 36px;
    background-color: #c9daf8ce;
    box-shadow: 0 2.5px 0 #00000040;
    border-radius: 15px 0 0 15px;
    animation: back-and-forth 3s infinite;
}

@keyframes back-and-forth {
    0% {
        border-radius: 15px 0 0 15px;
        transform: translateX(0px);
    }

    50% {
        border-radius: 0 15px 15px 0;
        transform: translateX(286px);

    }

    100% {
        border-radius: 15px 0 0 15px;
        transform: translateX(0px);
    }
}