footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    font-size: 10px;
    text-align: center;
}

footer a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 510px) {
    footer{
        font-size: 12px;
    }

}

@media only screen and (min-width: 690px) {
    footer{
        font-size: 14px;
    }

}