.Hurricane {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #c9daf86f;
    box-shadow: 0 5px 5px #00000040;
    border-radius: 10px;
    padding: 0 20px;
}

.Hurricane:hover {
    animation: rise .5s forwards;
}

.Hurricane .hurricane-name {
    display: flex;
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 35px;
    font-style: italic;
    text-shadow: 0 2px 0 #00000040;
}

.Hurricane hr {
    width: 100%;
    border: 1px solid #00000073;
}

.Hurricane .date-and-wind {
    display: flex;
    margin: 0;
    padding: 5px 0;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
}

@media only screen and (min-width: 1040px) {
    .Hurricane{
        max-width: 48%;
    }
}

@media only screen and (min-width: 1620px) {
    .Hurricane{
        max-width: 32%;
    }
}

@media only screen and (min-width: 2500px) {
    .Hurricane{
        max-width: 24%;
    }
}

@keyframes rise {
    0% {
        background-color: #c9daf86f;
        transform: translateY(0);
    }

    100% {
        background-color: #c9daf8ce;
        transform: translateY(-5px);
        text-shadow: 0 2px 0 #00000040;
    }
}